/Agrupamento de Seletores
/Alterando  o Fundo dos Elementos
/Bordas
/Box Sizing
/Combinador Descendente
/Combinador Filho
/Combinador irmão
/Código fonte do Curso de CSS
/Fontes
/formas de declaração do CSS
/Largura e Altura
/Padding
/Propriedade Object-Fit
/Propriedade Object-Position
/Seletores CSS
/Text-Transform
/trilha-css-desafio-01-main.zip